#showpass{
    position: absolute;
    top: 39px;
    right: 5px;
}
.style_icon_remove{
    position: absolute;
    top: -13px;
    right: -12px;
    color: red;
    font-size: 18px;
    z-index: 10;
    cursor: pointer;
    display: none !important;
}
.box_imgg:hover .style_icon_remove{
    display: block !important;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e6e6e6 !important;
    cursor: no-drop;
}
@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
      max-width: 930px !important;
    }
}
.review-count-approved {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 8px;
    min-width: 24px;
    height: 2em;
    border-radius: 5px;
    background-color: #72777c;
    color: #fff;
    font-size: 11px;
    line-height: 21px;
    text-align: center;
    transition: all .3s;
}
.review-count-approved:after {
    content: "";
    display: block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-top: 5px solid #72777c;
    border-right: 5px solid transparent;
}
.review-count-approved:hover {
    background-color: #007bff;
    color: #fff;
}
.review-count-approved:hover:after {
    border-top: 5px solid #007bff;
}
.terms-scrollable {
    overflow-y: auto;
    background: #f4f6f8;
    padding: 10px;
    border: 1px solid #e1e2e5;
    max-height: 250px;
}
.terms-scrollable label {
    display: block;
    margin-bottom: 10px;
}
.img-height-110{
    height: 110px !important;
}

/* delete */
.form-group-item label {
    display: block;
    min-height: 20px;
}
.form-group-item .g-items-header {
    font-weight: 700;
    border: solid 1px #c4cdd5;
    padding: 10px;
    text-align: center;
}
.form-group-item .g-items {
    margin-bottom: 20px;
}
.form-group-item .g-items .item {
    border: solid 1px #c4cdd5;
    border-top: 0;
    padding: 0 15px;
}
.form-group-item .g-items .item>.row>div {
    padding: 10px;
    border-right: 1px solid #c4cdd5;
    display: flex;
    align-items: flex-start;
}
.form-group-item .g-items .item .form-control {
    margin-bottom: 10px;
}
.form-group-item .g-items .item .form-control:last-child {
    margin-bottom: 0;
}
.form-group-item .g-items .item>.row>div:last-child {
    border-right: 0;
}
.btn-remove-item{
    cursor: pointer;
}
.review-star {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.review-star li {
    list-style: none;
    margin-right: 5px;
    float: left;
}
.review-star li .far,
.review-star li .fa {
    color: #ffdc00;
    font-size: 16px;
}
.tab-content {
    border: solid 1px #dee2e6;
    border-top: none;
    padding: 20px 20px 5px !important;
}
.modal .booking-review .booking-review-content .review-section {
    padding: 0;
    border-bottom: 1px solid #eaeef3;
}
.modal .booking-review .booking-review-content .review-section:last-child {
    border-bottom: 0;
}
.modal .booking-review .booking-review-content .review-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.modal .booking-review .booking-review-content .review-section ul li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dae1e7;
}
.modal .booking-review .booking-review-content .review-section ul li .val {
    color: #5e6d77;
}
.modal .booking-review .booking-review-content .review-section ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.modal .booking-review .booking-review-content .review-section ul li ul {
    padding-left: 15px;
}
.modal .booking-review .booking-review-content .review-section ul li.no-flex {
    display: block;
}
.modal .more-booking-review .booking-review .booking-review-content .review-section .final-total {
    border: none;
}
.modal .booking-review .booking-review-content .review-list li.final-total .label {
    font-weight: bold;
}
.modal .booking-review .booking-review-content .review-list li.final-total .val {
    font-weight: bold;
    color: #3490dc;
}
.modal .booking-review .booking-review-content .review-list li.final-total {
    border-top: 1px solid #eaeef3;
    padding-top: 10px;
    font-size: 19px;
}
.review-star li .fa {
    color: #ffdc00;
    font-size: 12px;
}
.review-star li .fa-star {
    color: #ffdc00;
    font-size: 12px;

}
.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 7px 24px;
}
.table-hover a {
    text-decoration: none;
    cursor: pointer;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background-color: #08f;
}
.pagination li a {
    color: #4F4F4F;
    font-size: 14px;
    border: unset;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    line-height: 40px;
    padding: unset;
    border-radius: 2px;
    border: 1px solid #ddd !important;
}
.pagination li a:hover{
    background-color: #1AABDF;
    color: #fff;
}
.is-danger{
    color: red;
    margin-top: 5px;
}