
.goole-map iframe {
    width: 100% !important;
}
.legal_doc_title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 20px auto;
}
.d-flex{
    display: flex;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-center{
    justify-content: center;
}
.section-domestic .module-domestic .module-content .grid .grid-item .item__links {
    width: 100%;
}
.section-domestic .module-domestic .module-content .grid .grid-item .item__links .avatar{
    width: 100%;
}
.d-none{
    display: none !important;
}
.control-list-flex{
    display: flex !important;
    justify-content: center !important;
}

.pagination li a {
    color: #4F4F4F;
    font-size: 14px;
    border: unset;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    line-height: 40px;
    padding: unset;
    border-radius: 2px;
    border: 1px solid #ddd !important;
}
.pagination li a:hover{
    background-color: #1AABDF;
    color: #fff;
}

.section-detail .module-detail .module-content .like .itemTours .content .content-header .title .title__links{
    color: #000;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 30px;
    white-space:unset;
}
.pagination li a {
    color: #4F4F4F;
    font-size: 14px;
    border: unset;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    line-height: 40px;
    padding: unset;
    border-radius: 2px;
    border: 1px solid #ddd !important;
}
.pagination li a:hover{
    background-color: #1AABDF;
    color: #fff;
}
.gmap-car {
    height: 500px!important;
}
.div-50 {
    width: 50% !important;
}
.height-fix{
    height: 685px;
    overflow-y: auto;
    overflow-x: hidden;
}
.text-center {
    text-align: center;
}
.section-detail .module-detail .module-content .basis .item-basis {
    display: flex;
    flex-wrap: wrap;
    float: unset;
}
.section-detail .module-detail .module-content .basis .item-basis .item-basis__list {
    float: unset;
    font-size: 15px;
    width: 20%;
    margin-right: 19px;
    position: relative;
    padding-left: 32px;
}
.section-difference .module .module-content .container-box .content .item .item-list, .section-topDestination .module .module-content .container-box .content .item .item-list a{
    color: #fff;
}
.section-difference .module .module-content .container-box .content .item .item-list a {
    color: #fff;
}